* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.about-wrapper {
  max-width: 1000px;
  margin: 4rem auto;
  padding: 0 1.5rem;
  color: #2c2c2c;
  font-family: "Cormorant Garamond", serif;
}

.about-title {
  font-weight: 500;
  font-size: 2.5rem;
  text-align: center;
  color: #6e4b3a;
  margin-bottom: 3rem;
}

.about-content {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 2rem;
  align-items: stretch;
}

.about-left-column {
  background-color: #0b0b09;
  width: 350px;
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  line-height: 0;
}

.about-image {
  width: 100%;
  height: auto;
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  margin-top: -5px;
}

.about-text {
  flex: 2 1 500px;
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
  line-height: 1.8;
}

.about-text p:first-of-type {
  margin-top: 0;
}
